.modal-page {
    position        : fixed;
    top             : 0;
    width           : 100vw;
    height          : 100vh;
    background-color: rgba(0, 0, 0, 50%);
    text-align      : center;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.modal {
    width           : 50vw;
    height          : 50vh;
    background-color: antiquewhite;
}